body {
    background: #EFF0F5;
}
button {
    background: #F57224;
    color: #F5F5F5;
    font-weight: 500;
    cursor: pointer;
}
ul li {
    font-weight: 500;
    font-size: 15px;
}
#error {
    top: 95%;
    left: 15%;
    color: red;
    display: none;
}
.see-more-btn {
    margin: auto;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
}